<div id="device-listing">
    <h2>User 4's Devices</h2>

    <table id="device-list" class="table table-hover table-bordered table-striped" >
        <thead>
            <tr>
                <td>Brand</td>
                <td>Model</td>
                <td>Phone Number</td>
                <!-- <td></td> -->
            </tr>
        </thead>
        <tbody id="device-list-body">
            <tr *ngFor="let device of DeviceList">
                <td>{{ device.brand }}</td>
                <td>{{ device.model }}</td>
                <td>{{ device.phoneNumber.phoneNumberVal }}</td>
                <!-- <td><button (click)="details(device)">Details</button></td> -->
            </tr>
        </tbody>
    </table>
</div>
