<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Device Details</h4>
                <hr />
                <dl *ngIf="device">
                    <dt>Device ID:</dt>
                    <dd>{{ device.deviceId }}</dd>
                    <dt>Brand:</dt>
                    <dd>{{ device.brand }}</dd>
                    <dt>Model:</dt>
                    <dd>{{ device.model }}</dd>
                    <div *ngIf="device.phoneNumber">
                        <dt>Phone Number:</dt>
                        <dd>{{ getFormattedPhoneNumber(device.phoneNumber) }}</dd>
                    </div>
                </dl>
            </div>
            <div *ngIf="!device.phoneNumber" class="col-md-6">
                <app-add-phonenumber-to-device [device]="device"></app-add-phonenumber-to-device>
            </div>
        </div>
    </div>
</div>
<!--
<div>
    <a [routerLink]="['/my-numbers']">Add a Phone Number to this device</a> 
</div>
-->