<div id="new-user-registration" (loggedIn)="loginSuccess">
    <div  *ngIf="!loginSuccess">
        <h2>New User Registration</h2>
        <form id="new-user" (ngSubmit)="registerNewUser()" #userRegistrationForm >
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input [(ngModel)]="newUser.firstName" type="text"name="FirstName" class="form-control" id="firstName" type="text" required maxlength="100" #FirstName="ngModel" />
                <div class="alert" *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)">
                    <div *ngIf="FirstName.errors?.required">First name is required</div>
                    <div *ngIf="FirstName.errors?.maxlength">First name cannot be more than 100 characters</div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input [(ngModel)]="newUser.lastName" type="text"name="LastName" class="form-control" id="lastName" type="text" required maxlength="100" #LastName="ngModel" />
                <div class="alert" *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)">
                    <div *ngIf="LastName.errors?.required">Last name is required</div>
                    <div *ngIf="LastName.errors?.maxlength">Last name cannot be more than 100 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input [(ngModel)]="newUser.email" type="text"name="Email" class="form-control" id="firstName" type="email" required maxlength="100" #Email="ngModel" />
                <div class="alert" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                    <div *ngIf="Email.errors?.required">Email address is required</div>
                    <div *ngIf="Email.errors?.maxlength">Email cannot be more than 100 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input [(ngModel)]="newUser.passHash" type="text"name="Password" class="form-control" id="password" type="password" required maxlength="100" minlength="8" #Password="ngModel" />
                <div class="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                    <div *ngIf="Password.errors?.required">Password is required</div>
                    <div *ngIf="Password.errors?.maxlength">Password cannot be more than 100 characters</div>
                    <div *ngIf="Password.errors?.minlength">Password cannot be more fewer than 8 characters</div>
                </div>
            </div>
            <div>
                <input class="btn btn-primary submit-button" type="submit" value="Register" style="margin-top: 5px;" />
            </div>
        </form>
    </div>
</div>