<div>
    <h4>Get a new Phone Number</h4>
    <form (ngSubmit)="addPhoneNumber()" id="addPhoneNumberDropdown">
        <label>Choose a number: </label>
        <select #phonenumberOptions id="phonenumberOptions" (change)="selectChangeHandler($event)">
            <option *ngFor="let selection of SelectablePhoneNumbers">
                {{selection.phoneNumberVal}} 
            </option>
        </select>
        <div>
            <input type="submit" value="Accept" class="btn btn-success"/>
        </div>
    </form>
</div>