<div id="phone-number-listing">
    <h2>User {{user.userId}}'s Phone Numbers</h2>

    <table id="phone-number-list" class="table table-hover table-bordered table-striped" >
        <thead>
            <tr>
                <td>Phone Number</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody id="phone-number-list-body">
            <tr *ngFor="let phone of PhoneNumberList">
                <td>{{ getFormattedPhoneNumber(phone) }}</td>
                <td><button (click)="details(phone)" class="btn btn-secondary">Details</button></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="showPhoneDetails">
        <router-outlet></router-outlet>
    </div>
</div>
