.thead-custom { 
    background-color: #05668D;
}

.tbody-custom { 
    background-color: #02C39A;
}

.billing-heading{
    background-color: #291528;
}

.billing-total {
    background-color: #9E829C;
}