<div id="plan-listing">
    <h2>User {{ user.userId }}'s Plans</h2>
    <button (click)="goToAddPlan()" class="btn btn-secondary">Add a Plan</button>
    <table id="plan-list" class="table table-hover table-bordered table-striped" >
        <thead>
            <tr>
                <td>Plan Name</td>
                <td>Price/month</td>
                <td>Device Limit</td>
                <td>Data Limit</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody id="plan-list-body">
            <tr *ngFor="let plan of PlanList">
                <td>{{ plan.name }}</td>
                <td>${{ plan.price }}</td>
                <td>{{ plan.deviceLimit }}</td>
                <td>{{ plan.dataLimit }}</td>
                <td>
                    <button (click)="details(plan)" class="btn btn-secondary">Details</button>
                    <button (click)="remove(plan)" class="btn btn-danger">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="showRouterOutlet">
        <router-outlet></router-outlet>
    </div>
</div>
