<div id="plan-listing">
    <h2>User {{ user.userId }}'s Plans</h2>

    <table id="plan-list" class="table table-hover table-bordered table-striped" >
        <thead>
            <tr>
                <td>Plan Name</td>
                <td>Price</td>
                <td>Device Limit</td>
                <td>Data Limit</td>
                <!-- <td></td> -->
            </tr>
        </thead>
        <tbody id="plan-list-body">
            <tr *ngFor="let plan of PlanList">
                <td>{{ plan.name }}</td>
                <td>{{ plan.price }}</td>
                <td>{{ plan.deviceLimit }}</td>
                <td>{{ plan.dataLimit }}</td>
                <!-- <td><button (click)="details(user)">Details</button></td> -->
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" (click)="backToNav()">Back</button>
    </div>
</div>